<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="/plantilla/plantillaui">

  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
  					<div layout:fragment="contenidopaginas">
						<h5 class="card-title fw-semibold mb-4">Listar Detalle Pedidos</h5>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">idDetallePedido</th>
									<th scope="col">cantidad</th>
									<th scope="col">precioUnitario</th>
									<th scope="col">subtotal</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="indice : ${listadetallepedido}">
								<td th:text="${indice.idDetallePedido}"></td>
								<td th:text="${indice.cantidad}"></td>
								<td th:text="${indice.precioUnitario}"></td>
								<td th:text="${indice.subtotal}"></td>
								<td>
								<a  href="" class="btn btn-primary" title="Editar"><i class="ti-pencil-alt"></i></a>
								<a  href="" class="btn btn-danger" title="Eliminar"><i class="ti-trash"></i></a>
								</td>

								</tr>
							
							</tbody>
						</table>
					</div>
  </body>
</html>
