<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/plantilla/plantillaui">

<head>
    <meta charset="UTF-8" />
</head>
<body>
<div layout:fragment="contenidopaginas">
    <h5 class="card-title fw-semibold mb-4">Listar Detalle Pedidos</h5>
    
            <div class="mb-3">
        <a th:href="@{/detallepedidos/nuevo}" class="btn btn-success">
            <i class="lni lni-plus"></i> Nuevo Detalle Pedido
        </a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">idDetallePedido</th>
                <th scope="col">cantidad</th>
                <th scope="col">precioUnitario</th>
                <th scope="col">subtotal</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="indice : ${listadetallepedido}">
                <td th:text="${indice.idDetallePedido}"></td>
                <td th:text="${indice.cantidad}"></td>
                <td th:text="${indice.precioUnitario}"></td>
                <td th:text="${indice.subtotal}"></td>
                <td>
                    <!-- Botón Editar -->
                    <a th:href="@{/detallepedidos/editar/{id}(id=${indice.idDetallePedido})}" 
                       class="btn btn-sm btn-primary" title="Editar">
                       <i class="lni lni-pencil"></i>Editar
                    </a>
                    <!-- Botón Eliminar -->
                    <a th:href="@{/detallepedidos/eliminar/{id}(id=${indice.idDetallePedido})}" 
                       class="btn btn-sm btn-danger" title="Eliminar"
                       onclick="return confirm('¿Seguro que deseas eliminar este detalle?');">
                       <i class="lni lni-trash-can"></i>Eliminar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
